[submodule "autoload/pathogen"]
	path = autoload/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "bundle/hexHighlight"]
	path = bundle/hexHighlight
	url = git@github.com:yurifury/hexHighlight.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git@github.com:skammer/vim-css-color.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/php-folding"]
	path = bundle/php-folding
	url = git@github.com:vim-scripts/phpfolding.vim.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git@github.com:hallettj/jslint.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = git@github.com:docunext/closetag.vim.git
[submodule "bundle/vim-bad-whitespace"]
	path = bundle/vim-bad-whitespace
	url = git@github.com:bitc/vim-bad-whitespace.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/lunaru/vim-twig.git
